.form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;
} /* 1fr- całą reszte dostępnej szerokości zajmuje input, auto - przycisk na tyle szeroki, żeby zmieścił się tekst dodaj zadanie. grid gap - odstępy */ 

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
} /* na ekranach poniżej 767px w każdym wierszu jedna kolumna */

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    transition: 0.3s;
}

.form__button:hover {
    background: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__button:active {
    background: hsl(180, 100%, 35%);
    transform: scale(1.1);
}