.form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;

}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form_newTask {
    border: 1px #607D8B;
    height: 35px;
    width: 100%;
}

.form_button {
    background-color: teal;
    color: white;
    border: none;
    transition: 1s;
    cursor: pointer;

}

.form_button:hover {
    background: rgba(0, 128, 128, 0.952);
    transform: scale(1.5);
}