.form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr auto;

}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form_button {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none;
    transition: 0.3s;
}

.form_button:hover {
    background: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form_button:active {
    background: hsl(180, 100%, 35%);
    transform: scale(1.1);
}